# macOS DS_Store
.DS_Store

# Ignore Obsidian Vault-based settings.
.obsidian/workspace.json
.obsidian/graph.json

# C/C++ Objects/Build
*.o
*.out

# ADS (Azure Database Studio)
*.dacpac
*.dll
*.pdb
obj/
bin/
