/* @theme beam */
/* Author: rnd195 https://github.com/rnd195/ */
/* beam license - GNU GPLv3 https://github.com/rnd195/my-marp-themes/blob/live/licenses/LICENSE_beam */
/* License of beamer which inspired this theme - GNU GPLv2 https://github.com/rnd195/my-marp-themes/blob/live/licenses/LICENSE_GPLv2 */

@import "default";

:root {
  font-family: "Lora", "Segoe UI", Helvetica, sans-serif;
  --body-font: "Lora";
  --main: #138CE8;
  --secondary: #cceeff;
  --cover-font: "Be Vietnam Pro";
}

section {
  /*A dim background color*/
  background-color: #F5F5E7;
  /* bottom two-colored bar in base svg */
  /*Decoder: https://base64.guru/converter/decode/image*/
  /*TODO: Update the background image to use the main color*/
  /*TOOD: Insert the UIT logo into the background image*/
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NTAiIGhlaWdodD0iMjAiPjxyZWN0IHdpZHRoPSI0NzUiIGhlaWdodD0iMjAiIGZpbGw9IiMxNzQxNDMiIHN0cm9rZS1saW5lam9pbj0iYmV2ZWwiIHJ4PSIwIiByeT0iMCIgc3Ryb2tlPSIjZmZmIi8+PHJlY3Qgd2lkdGg9IjQ3NSIgaGVpZ2h0PSIyMCIgeD0iNDc1IiBmaWxsPSIjNDI3YTc2IiBzdHJva2UtbGluZWpvaW49ImJldmVsIiBzdHJva2U9IiNmZmYiIHJ4PSIwIiByeT0iMCIgc3Ryb2tlLW9wYWNpdHk9IjEiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 150% 1em;
  padding: 2em;
}

header {
  font-size: 0.6em;
  /* this text-align is important */
  text-align: right;
  /* I don't like this absolute positioning, but it works */
  position: absolute;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -51%;
  color: #E5E9C5;
  font-family: var(--cover-font);
}

footer {
  font-size: 0.6em;
  position: absolute;
  /* this text-align is important */
  text-align: left;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: 50.8%;
  color: #E5E9C5;
  font-family: var(--cover-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
}

/* only apply to the first occurrence of h1 */
h1:nth-of-type(1) {
  font-family: var(--body-font);
  color: #ffffff;
  background-color: var(--main);
  border-top: 0.3em solid var(--main);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1.6em;
  text-indent: 0.5em;
  /*Ensure the heading is always UPPERCASE*/
  text-transform: uppercase;
}

code {
  background-color: rgba(100, 100, 100, 0.2);
}

mark {
  background-color: #f5db7e;
}

/* formatting page numbers  */
section::after {
  font-size: 0.6em;
  /* https://github.com/yhatt/marp/issues/263 */
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  position: absolute;
  text-align: right;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -0.5em;
  color: white;
}

/* inline math was too large wrt text */
.katex {
  font: normal 1.05em KaTeX_Main, "Lora", "Times New Roman", serif
}

/* the "center" keyword centers the image - may break, careful */
/* https://github.com/marp-team/marpit/issues/141#issuecomment-473204518 */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: title */
/* title page - only to be used as for a single slide */
/* <!-- _class: title --> */
section.title>h1 {
  font-family: var(--cover-font), "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--main);
  border-radius: 25px;
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 0.2em;
  height: auto;
}

/* remake this to be positioned with respect to h1 */
section.title>p {
  position: relative;
  text-align: center;
  top: 35px;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext>p,
section.tinytext>ul,
section.tinytext>blockquote {
  font-size: 0.65em;
}
