/* @theme beam */
/* Author: rnd195 https://github.com/rnd195/ */
/* beam license - GNU GPLv3 https://github.com/rnd195/my-marp-themes/blob/live/licenses/LICENSE_beam */
/* License of beamer which inspired this theme - GNU GPLv2 https://github.com/rnd195/my-marp-themes/blob/live/licenses/LICENSE_GPLv2 */

@import "default";

:root {
  font-family: "Google Sans", "Segoe UI", Helvetica, sans-serif;
  --body-font: "Google Sans";
  --main: #D5724A;
  --secondary: #cceeff;
  --cover-font: "Google Sans";
}

section {
  /*A dim background color*/
  background-color: #F5F5E7;
  /* bottom two-colored bar in base svg */
  /*Decoder: https://base64.guru/converter/decode/image*/
  /*TODO: Update the background image to use the main color*/
  /*TOOD: Insert the UIT logo into the background image*/
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="100%" height="100%" viewBox="0 0 950 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(0.927106,0,0,0.9,33.625005,1)"><path d="M475,1.61C474.892,4.259 473.721,10.898 472.896,15.895C472.718,16.971 472.561,17.847 472.443,18.39C472.289,19.097 471.711,19.998 470.988,20C392.917,20.268 4.017,20 4.017,20C3.214,20 2.562,19.279 2.562,18.39L2.562,1.61C2.562,0.721 3.214,0 4.017,0C4.017,0 395.048,-0.268 473.545,0C474.268,0.002 475.03,0.887 475,1.61Z" style="fill:rgb(23,65,67);"/></g><g transform="matrix(0.991579,0,0,0.9,5,1)"><g transform="matrix(0.930299,0,0,1,32.935865,0)"><path d="M950,1.609L950,18.391C950,19.279 949.346,20 948.54,20C948.54,20 553.327,20.268 473.992,20C473.268,19.998 472.491,19.114 472.531,18.391C472.699,15.326 474.345,4.674 475,1.609C475.151,0.901 475.736,0.002 476.46,0C555.383,-0.268 948.54,0 948.54,0C949.346,0 950,0.721 950,1.609Z" style="fill:rgb(213,114,74);"/></g><g transform="matrix(0.836414,0,0,0.908719,78.761048,0.606195)"><path d="M950,1.609L950,18.391C950,19.279 949.346,20 948.54,20C948.54,20 553.327,20.268 473.992,20C473.268,19.998 472.491,19.114 472.531,18.391C472.699,15.326 474.345,4.674 475,1.609C475.151,0.901 475.736,0.002 476.46,0C555.383,-0.268 948.54,0 948.54,0C949.346,0 950,0.721 950,1.609Z" style="fill:rgb(204,204,204);"/></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 150% 1em;
  padding: 2em;
}

header {
  font-size: 0.6em;
  /* this text-align is important */
  text-align: right;
  /* I don't like this absolute positioning, but it works */
  position: absolute;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -51%;
  color: #cccccc;
  font-family: var(--cover-font);
}

footer {
  font-size: 0.6em;
  position: absolute;
  /* this text-align is important */
  text-align: left;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: 50.8%;
  color: #D5724A;
  font-family: var(--cover-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
}

/* only apply to the first occurrence of h1 */
h1:nth-of-type(1) {
  font-family: var(--body-font);
  color: #ffffff;
  background-color: var(--main);
  border-top: 0.3em solid var(--main);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1.6em;
  text-indent: 0.5em;
  /*Ensure the heading is always UPPERCASE*/
  text-transform: uppercase;
}

code {
  background-color: rgba(100, 100, 100, 0.2);
}

mark {
  background-color: #f5db7e;
}

/* formatting page numbers  */
section::after {
  font-size: 0.6em;
  /* https://github.com/yhatt/marp/issues/263 */
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  position: absolute;
  text-align: right;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -0.5em;
  color: #cccccc;
}

/* inline math was too large wrt text */
.katex {
  font: normal 1.05em KaTeX_Main, "Lora", "Times New Roman", serif
}

/* the "center" keyword centers the image - may break, careful */
/* https://github.com/marp-team/marpit/issues/141#issuecomment-473204518 */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: title */
/* title page - only to be used as for a single slide */
/* <!-- _class: title --> */
section.title>h1 {
  font-family: var(--cover-font), "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--main);
  border-radius: 25px;
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 0.2em;
  height: auto;
}

/* remake this to be positioned with respect to h1 */
section.title>p {
  position: relative;
  text-align: center;
  top: 35px;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext>p,
section.tinytext>ul,
section.tinytext>blockquote {
  font-size: 0.65em;
}
